:root {
  --DesaturatedDarkCyan: hsl(180, 29%, 50%);
  --LightGrayishCyanBackground: hsl(180, 52%, 96%);
  --LightGrayishCyanFilterTablets: hsl(180, 31%, 95%);
  --DarkGrayishCyan: hsl(180, 8%, 52%);
  --VeryDarkGrayishCyan: hsl(180, 14%, 20%);
  --VeryDarkGrayishCyanShadow: hsla(180, 14%, 20%, 20%);
  --fontSize: 15px;
  --medium: 500;
  --bold: 700;
  --family: "League Spartant", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--fontSize);
  font-family: var(--family);
  line-height: 100%;
  background-color: var(--LightGrayishCyanBackground);
}

header {
  height: 9.75rem;
  background-color: var(--DesaturatedDarkCyan);
  background-image: url(./assets/images/bg-header-desktop.svg);
}
main {
  min-height: calc(100vh - 9.75rem);
  max-width: 70rem;
  padding: 4.7rem 1.5rem;
  margin-inline: auto;
}

#container {
  display: grid;
  gap: 2.5rem;
}

#tags {
  min-height: 4rem;

  margin-block: -6.7rem 2.7rem;
  padding: 1rem 1.25rem;

  border-radius: 0.4rem;
  box-shadow: var(--VeryDarkGrayishCyanShadow) 0px 20px 25px -5px;
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    & span {
      padding: 0.5rem;
      padding-right: 2.5rem;

      border-radius: 0.3rem;
      font-weight: var(--bold);
      color: var(--DesaturatedDarkCyan);
      background-color: var(--LightGrayishCyanBackground);
      display: flex;
      align-items: center;
      gap: 1rem;
      position: relative;
      overflow: hidden;
      & button {
        position: absolute;
        cursor: pointer;
        height: 100%;
        aspect-ratio: 1 / 1;
        top: 0;
        right: 0;
        background-color: var(--DesaturatedDarkCyan);
        color: #fff;
        border: none;
        background-image: url(./assets/icons/close.svg);
        background-size: 80%;
        background-position: center;
        transition: all .3s;
        &:hover{
        background-color: var(--VeryDarkGrayishCyan);
        color: #fff;
        }
      }
    }
  }
  & button {
    cursor: pointer;
    margin-left: auto;
    border: none;
    background-color: unset;
    color: var(--DarkGrayishCyan);
    font-weight: var(--bold);
    &:hover {
      color: var(--DesaturatedDarkCyan);
      text-decoration: underline;
    }
  }
}
